collections/MS_Georg_d_2_tr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:element ref="tei:text"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:fileDesc"/>
        <xs:element ref="tei:profileDesc"/>
        <xs:element ref="tei:revisionDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:titleStmt"/>
        <xs:element ref="tei:editionStmt"/>
        <xs:element ref="tei:publicationStmt"/>
        <xs:element ref="tei:sourceDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:title"/>
        <xs:element ref="tei:respStmt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="respStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:persName"/>
        <xs:element maxOccurs="unbounded" ref="tei:resp"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="resp" type="xs:string"/>
  <xs:element name="editionStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:edition"/>
        <xs:element ref="tei:funder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:date"/>
      </xs:sequence>
      <xs:attribute name="n" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="funder">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:ref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:complexType mixed="true">
      <xs:attribute name="target" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:publisher"/>
        <xs:element ref="tei:address"/>
        <xs:element ref="tei:distributor"/>
        <xs:element ref="tei:idno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:orgName"/>
        <xs:element ref="tei:street"/>
        <xs:element ref="tei:settlement"/>
        <xs:element ref="tei:postCode"/>
        <xs:element ref="tei:country"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="street" type="xs:string"/>
  <xs:element name="postCode" type="xs:string"/>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="distributor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:email"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="sourceDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:msDesc"/>
        <xs:element ref="tei:listWit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="msDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:msIdentifier"/>
        <xs:element ref="tei:head"/>
        <xs:element ref="tei:msContents"/>
        <xs:element ref="tei:physDesc"/>
        <xs:element ref="tei:history"/>
        <xs:element ref="tei:additional"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="msIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:settlement"/>
        <xs:element ref="tei:repository"/>
        <xs:element ref="tei:idno"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="repository" type="xs:string"/>
  <xs:element name="msContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:summary"/>
        <xs:element ref="tei:textLang"/>
        <xs:element maxOccurs="unbounded" ref="tei:msItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="summary" type="xs:string"/>
  <xs:element name="msItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:locus"/>
        <xs:element ref="tei:title"/>
        <xs:choice>
          <xs:element ref="tei:rubric"/>
          <xs:sequence>
            <xs:element ref="tei:incipit"/>
            <xs:element ref="tei:explicit"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="tei:bibl"/>
        <xs:element ref="tei:textLang"/>
      </xs:sequence>
      <xs:attribute name="n" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rubric">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:hi"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incipit">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:gap"/>
        <xs:element ref="tei:lb"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="explicit">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:lb"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="physDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:p"/>
        <xs:element ref="tei:objectDesc"/>
        <xs:element ref="tei:handDesc"/>
        <xs:element ref="tei:decoDesc"/>
        <xs:element ref="tei:additions"/>
        <xs:element ref="tei:bindingDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:supportDesc"/>
        <xs:element ref="tei:layoutDesc"/>
      </xs:sequence>
      <xs:attribute name="form" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="supportDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:support"/>
        <xs:element ref="tei:extent"/>
        <xs:element maxOccurs="unbounded" ref="tei:foliation"/>
        <xs:element ref="tei:collation"/>
        <xs:element ref="tei:condition"/>
      </xs:sequence>
      <xs:attribute name="material" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="support" type="xs:string"/>
  <xs:element name="extent">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:seg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seg">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="tei:dimensions"/>
        <xs:element ref="tei:num"/>
      </xs:choice>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:height"/>
        <xs:element ref="tei:width"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="unit" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="height">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="quantity" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="width">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="quantity" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="num">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="type" use="required" type="xs:NCName"/>
          <xs:attribute name="value" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foliation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:p"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="collation" type="xs:string"/>
  <xs:element name="condition" type="xs:string"/>
  <xs:element name="layoutDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:layout"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="layout">
    <xs:complexType>
      <xs:attribute name="columns" use="required" type="xs:integer"/>
      <xs:attribute name="writtenLines" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="handDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:handNote"/>
      </xs:sequence>
      <xs:attribute name="hands" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="handNote">
    <xs:complexType mixed="true">
      <xs:attribute name="scope" use="required" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="decoDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:decoNote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="additions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bindingDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:binding"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="binding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:p"/>
        <xs:element ref="tei:decoNote"/>
      </xs:sequence>
      <xs:attribute name="notAfter" use="required" type="xs:integer"/>
      <xs:attribute name="notBefore" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="history">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:origin"/>
        <xs:element ref="tei:provenance"/>
        <xs:element ref="tei:acquisition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="origin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:origPlace"/>
        <xs:element ref="tei:origDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="origPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:settlement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="origDate">
    <xs:complexType mixed="true">
      <xs:attribute name="calendar" use="required" type="xs:NCName"/>
      <xs:attribute name="notAfter" use="required" type="xs:integer"/>
      <xs:attribute name="notBefore" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="provenance">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="acquisition" type="xs:string"/>
  <xs:element name="additional">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:adminInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adminInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:recordHist"/>
        <xs:element ref="tei:availability"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:source"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:listBibl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBibl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:bibl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:p"/>
      </xs:sequence>
      <xs:attribute name="status" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listWit">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:witness"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="witness">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:ptr"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:complexType>
      <xs:attribute name="target" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:langUsage"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="langUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType mixed="true">
      <xs:attribute name="ident" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:change"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:complexType mixed="true">
      <xs:attribute name="when" use="required" type="xs:date"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:div"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:title"/>
      </xs:sequence>
      <xs:attribute name="key" type="xs:NCName"/>
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="persName">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:add"/>
        <xs:element ref="tei:app"/>
        <xs:element ref="tei:damage"/>
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:pb"/>
        <xs:element ref="tei:persName"/>
      </xs:choice>
      <xs:attribute name="key" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:attribute name="when" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:orgName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgName">
    <xs:complexType mixed="true">
      <xs:attribute name="ref" type="xs:anyURI"/>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="settlement" type="xs:NCName"/>
  <xs:element name="idno">
    <xs:complexType mixed="true">
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:note"/>
      </xs:choice>
      <xs:attribute name="hand" type="xs:NCName"/>
      <xs:attribute name="rend"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="textLang">
    <xs:complexType mixed="true">
      <xs:attribute name="mainLang" use="required" type="xs:NCName"/>
      <xs:attribute name="otherLangs" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="locus">
    <xs:complexType mixed="true">
      <xs:attribute name="from" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="to" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:add"/>
        <xs:element ref="tei:app"/>
        <xs:element ref="tei:damage"/>
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:gap"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:persName"/>
        <xs:element ref="tei:placeName"/>
        <xs:element ref="tei:supplied"/>
        <xs:element ref="tei:unclear"/>
      </xs:choice>
      <xs:attribute name="rend"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gap">
    <xs:complexType>
      <xs:attribute name="quantity" use="required" type="xs:integer"/>
      <xs:attribute name="reason" use="required" type="xs:NCName"/>
      <xs:attribute name="unit" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:complexType/>
  </xs:element>
  <xs:element name="bibl">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:date"/>
        <xs:element ref="tei:idno"/>
        <xs:element ref="tei:publisher"/>
        <xs:element ref="tei:title"/>
      </xs:choice>
      <xs:attribute name="type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:add"/>
        <xs:element ref="tei:app"/>
        <xs:element ref="tei:damage"/>
        <xs:element ref="tei:del"/>
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:gap"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:note"/>
        <xs:element ref="tei:pb"/>
        <xs:element ref="tei:persName"/>
        <xs:element ref="tei:placeName"/>
        <xs:element ref="tei:supplied"/>
        <xs:element ref="tei:unclear"/>
        <xs:element ref="tei:foreign"/>
        <xs:element ref="tei:q"/>
        <xs:element ref="tei:secFol"/>
        <xs:element ref="tei:subst"/>
      </xs:choice>
      <xs:attribute name="hand" type="xs:NCName"/>
      <xs:attribute name="rend"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:unclear"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="q">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:del"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:persName"/>
        <xs:element ref="tei:unclear"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="secFol">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:locus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subst">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:del"/>
        <xs:element ref="tei:add"/>
        <xs:element ref="tei:lb"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="decoNote" type="xs:string"/>
  <xs:element name="div">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:div"/>
        <xs:element ref="tei:head"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:p"/>
        <xs:element ref="tei:pb"/>
        <xs:element ref="tei:figure"/>
      </xs:choice>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:head"/>
        <xs:element maxOccurs="unbounded" ref="tei:p"/>
        <xs:element ref="tei:figDesc"/>
      </xs:sequence>
      <xs:attribute name="rend" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="figDesc" type="xs:string"/>
  <xs:element name="expan">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:ex"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="ex" type="xs:string"/>
  <xs:element name="damage">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:gap"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:note"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="app">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:lem"/>
        <xs:element ref="tei:rdg"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lem">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:damage"/>
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:note"/>
        <xs:element ref="tei:persName"/>
        <xs:element ref="tei:placeName"/>
        <xs:element ref="tei:supplied"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="rdg">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:persName"/>
      </xs:choice>
      <xs:attribute name="wit" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="add">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:add"/>
        <xs:element ref="tei:del"/>
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:hi"/>
        <xs:element ref="tei:lb"/>
        <xs:element ref="tei:note"/>
        <xs:element ref="tei:persName"/>
        <xs:element ref="tei:unclear"/>
      </xs:choice>
      <xs:attribute name="hand"/>
      <xs:attribute name="place" type="xs:NCName"/>
      <xs:attribute name="style"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pb">
    <xs:complexType>
      <xs:attribute name="n" use="required"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="note" type="xs:string"/>
  <xs:element name="placeName">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:expan"/>
        <xs:element ref="tei:lb"/>
      </xs:choice>
      <xs:attribute name="key" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="supplied">
    <xs:complexType mixed="true">
      <xs:attribute name="reason" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unclear">
    <xs:complexType>
      <xs:attribute name="quantity" use="required" type="xs:integer"/>
      <xs:attribute name="reason" use="required" type="xs:NCName"/>
      <xs:attribute name="unit" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="del">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:gap"/>
        <xs:element ref="tei:hi"/>
      </xs:choice>
      <xs:attribute name="quantity" type="xs:integer"/>
      <xs:attribute name="rend" type="xs:NCName"/>
      <xs:attribute name="unit" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
